body {
  background-color: #d6eadf;
}

hr {
  width: 75px;
  border-color: #d27a88;
  border-width: 5px;
  border-style: dotted none none ;
}

h1,h3 {
  color: #d27a88;
  font-family: Arial, Helvetica, sans-serif;
}

p,ul,ol,table,label {
    font-family: Arial, Helvetica, sans-serif;
    color: #5a5a5a;
}

img {
  width:200px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: #255f85;
  text-decoration: none;
}

a:hover {
  font-family: Arial, Helvetica, sans-serif;
  color: #95b8d1;
}
